/* Table of Contents  */
/* 1. CSS Reset       */
/* 2. Global          */
/* 3. Typography      */
/* 4. Header          */
/* 5. Footer          */
/* 6. Masonry Gallery */
/* 7. Homepage        */
/* 8. About Page      */
/* 9. Shop Page       */
/* 10. Animations     */


/* Variables */
:root {
    --brand-primary: #f72c22;
    --brand-secondary: #fcb5b1;
    --brand-tertiary: #afd182;
    --brand-dark: #000;
    --font-primary: 'Caveat', cursive;
    --font-secondary: 'Andika', sans-serif;
}

/* 1. CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 2. Global */

body {
    background-color: #fff;
}

main {
    max-width: 64rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: var(--brand-dark);
    text-decoration: underline;
    text-underline-offset: .25rem;
}

a:hover {
    color: var(--brand-primary);
}

.lightbox-modal img {
    width: auto;
    height: auto;
}

h1, h2 {
    font-family: var(--font-primary);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.75rem;
}

.section-intro {
    font-size: 1.125rem;
    text-align: center;
    max-width: 54rem;
    margin: 0 auto;
}

.section-intro h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    margin-bottom: 1.75rem;
}

main p {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

main ul {
    list-style-type: disc;
    margin-left: 2.5rem;
    margin-bottom: 1.5rem;
}

/* 3. Typography */

body {
    font-family: var(--font-secondary, Arial);
}

/* 4. Header */
#page-header {
    display: flex;
    flex-direction: column;
    max-width: 64rem;
    margin: 0 auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    margin-bottom: 2rem;
    text-align: center;
}

.logo {
    font-family: var(--font-primary);
    font-size: 2.5rem;
}

.logo a {
    text-decoration: none;
    color: var(--brand-primary, #000);
}

.logo a:hover {
    animation-name: cyclecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: var(--brand-primary, #000);
}

.page-header nav {
    width: 100%;
}

#header-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.header-nav__item {
    color: var(--brand-dark);
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: var(--font-secondary);
}

.header-nav__link {
    text-decoration: none;
    color: var(--brand-dark);
    padding: .5rem 1rem;
}

.header-nav__link:hover {
    color: var(--brand-primary);
}

@media only screen and (min-width: 1024px) {
    #page-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-wrapper {
        margin-bottom: 0;
    }

    #header-nav {
        justify-content: end;
    }
}

/* 5. Footer */
#page-footer {
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* 6. Masonry Gallery */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Base masonry code from https: //w3bits.com/css-masonry/ */
/* The Masonry Container */
.gallery {
    margin: 1.5rem auto;
    max-width: 64rem;
    column-gap: 1.5rem;
    list-style: none;
}

/* The Masonry Brick */
.gallery__item {
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
}

.gallery__image {
    max-width: 100%;
}
/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .gallery {
        column-count: 3;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .gallery {
        column-count: 2;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) {
    .gallery {
        column-count: 1;
    }
}

/* 7. Homepage */
.section-acknowledgement {
    max-width: 36rem;
    margin: 0 auto;
    text-align: center;
}

/* 8. About Page */
.bio-photo {
    max-width: 100%;
    margin: 0 auto 2rem;
}

.social-icon {
    text-decoration: none;
    text-underline-offset: 0;
}

.social-icon + .social-icon {
    margin-left: 10px;
}

.social-icon--svg {
    width: 50px;
}

.social-icon:hover .social-icon--svg {
    fill: var(--brand-primary);
}

.social-icon--instagram:hover .icon {
    fill: var(--brand-primary);
}

@media only screen and (min-width: 1024px) {
    .bio-photo {
        max-width: 50%;
    }
}

/* 9. Shop page */

 .shop-wrapper {
    max-width: 37.5rem;
    margin: 1.5rem auto;
 }

 .shop-name {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: solid 1px transparent;
 }

 .etsy {
    background-color: #afd182;
 }

 .art-of-where,
 .red-bubble {
    background-color: #bbeaee;
 }

 .gumroad {
    background-color: #fcb5b1;
}

.patreon {
    background-color: #fec43b;
}

.shop-name:hover {
    background-color: white;
    border: solid 1px var(--brand-primary);
}

 .shop-name + .shop-name {
    margin-top: 10px;
 }

 .shop-description {
    display: block;
    text-align: center;
 }

/* 10. Animations */

@keyframes cyclecolor {
    0% {
        color: #6664c8;
    }

    25% {
        color: #3a8e1c;
    }

    50% {
        color: #477d8b;
    }

    75% {
        color: #fec43b;
    }

    100% {
        color: #b7362e;
    }
}
